body{
    text-align: center;
}

#container{
    margin: 0 auto;
    width: 1000px;
    height: 1000px;
    border: 2px solid #000;

    /* Grid codes goes here */
    display: grid;
    /* grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr); */
    grid-template: repeat(5, 1fr) / repeat(2, 1fr);
}

/* p{
    font-size: 2.5em;
} */

.box{
    font-size: 1.5rem;
}